/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10;
  /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  max-width: 900px;
  padding: 10px 30px;
  background-color: #f4ffff;
  color: #003458;
  
  /* border-radius: 10px; */

  overflow-y: scroll;
}
.modalWrapper a
{
  color: #003458;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

span.filename
{
  font-size: 14px;
}
span.filename > i
{
  margin-left: 6px;
}
span.filename > i:not(:first-child)
{
  margin-right: 16px;
}

input[type="file"]
{
  width: 256px;
}

/* 以下ボタンスタイル */
/* button {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #282828;
  border-radius: 2px;
  cursor: pointer;
} */

input[type="submit"] {
  margin: 0 auto;
  width: 166px;
  height: 38px;
}

textarea
{
  width: 100%;
  height: 128px;
  resize: none;
}