header
{
  width: 100%;
  height: 550px;

  background-size: cover !important;
  background-position: center -300px !important;
  background: url(../img/宣伝ポスター.jpg) no-repeat;
}
div.terms
{
  width: 100%;
  aspect-ratio: 1 / 1.415;

  background-size: cover !important;
  background-position: center center;
  background: url(../img/規約pdf.jpg) no-repeat;
}