header
{
  /* width: 100%; */
  height: 90vh;
  aspect-ratio: 2734 / 1536;

  background: url(../img/header.png) no-repeat;
  background-size: cover;
  background-position: center center;
}
div.terms
{
  width: 100%;
  aspect-ratio: 1 / 1.415;

  background-size: cover !important;
  background-position: center center;
  background: url(../img/規約03.jpg) no-repeat;
}
@media (max-width: 480px)
{
  header
  {
    width: 100%;
    background-size: 800px;
    background-position: center center;
    margin: 0 auto;
  }
}